:root {
  --top-nav-height: 51px;
  --border-color: #dce6e9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid white !important; */
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(255, 255, 255);
  margin: 0;
  background-color: #1a1f36;
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: 40px;
}

h2 {
  margin: 1.5em 0;
}

a {
  color: #6c8eef;
  transition: all 0.5s ease;
}
table {
  border: 1px solid white;
}

a:hover {
  color: white;
}

table {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  text-align: center;
  /* border-collapse: collapse; */
  border-radius: 5px;
  height: 200px;
}

thead {
  width: 360% !important;
  display: flex;
  justify-content: center;
}

.jsx-c7b7711367a73074 {
  background-color: black !important;
  color: white !important;
}

.token {
  background: none !important;
}
